<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>15D21</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>DaisyDisk</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>LicenseIcon.icns</string>
			<key>CFBundleTypeName</key>
			<string>License</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.daisydiskapp.DaisyDiskStandAlone.License</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Folders</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>fold</string>
				<string>disk</string>
				<string>****</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>DaisyDisk</string>
	<key>CFBundleHelpBookFolder</key>
	<string>DaisyDisk.help</string>
	<key>CFBundleHelpBookName</key>
	<string>com.daisydiskapp.DaisyDiskStandAlone.help</string>
	<key>CFBundleIconFile</key>
	<string>DaisyDisk</string>
	<key>CFBundleIdentifier</key>
	<string>com.daisydiskapp.DaisyDiskStandAlone</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>DaisyDisk</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>4.2</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>DaisyDisk URL</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>daisydisk</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>4.2</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>7C1002</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>15C43</string>
	<key>DTSDKName</key>
	<string>macosx10.11</string>
	<key>DTXcode</key>
	<string>0721</string>
	<key>DTXcodeBuild</key>
	<string>7C1002</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.utilities</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.10</string>
	<key>LSMinimumSystemVersionByArchitecture</key>
	<dict>
		<key>x86_64</key>
		<string>10.10</string>
	</dict>
	<key>NSHumanReadableCopyright</key>
	<string>© 2008 – 2016 Software Ambience Corp. All rights reserved.</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>Application</string>
	<key>NSSupportsAutomaticGraphicsSwitching</key>
	<true/>
	<key>SMPrivilegedExecutables</key>
	<dict>
		<key>com.daisydiskapp.DaisyDiskAdminHelper</key>
		<string>identifier com.daisydiskapp.DaisyDiskAdminHelper and certificate leaf[subject.CN] = "Developer ID Application: Software Ambience Corp."</string>
	</dict>
	<key>SUEnableSystemProfiling</key>
	<string>YES</string>
	<key>SUFeedURL</key>
	<string>https://daisydiskapp.com/downloads/appcastFeed.php</string>
	<key>SUPublicDSAKeyFile</key>
	<string>dsa_pub.pem</string>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>DaisyDisk License</string>
			<key>UTTypeIconFile</key>
			<string>LicenseIcon.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.daisydiskapp.DaisyDiskStandAlone.License</string>
			<key>UTTypeReferenceURL</key>
			<string>https://daisydiskapp.com</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>DaisyDisk</string>
				</array>
			</dict>
		</dict>
	</array>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeDescription</key>
			<string>DaisyDisk License</string>
			<key>UTTypeIconFile</key>
			<string>LicenseIcon.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.daisydiskapp.DaisyDiskStandAlone.License</string>
			<key>UTTypeReferenceURL</key>
			<string>https://daisydiskapp.com</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>DaisyDisk</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
